.homeSlider{padding: 30px 0px;}
I
.home_slider_Main{border-radius: 20px; overflow:hidden;}

.slick-arrow{ position: absolute; top: 47%; width: 40px !important; height: 40px limportant; border-radius: 50% limportant; background: #f31a1a !important z-index: 1000 !important;}
.slick-arrow.slick-next{right: 2% !important;}
.slick-arrow.slick-prev{left: 2% !important;}