.homeProducts {
    margin-bottom: 200px;
    padding: 100px 25px 25px;
}

.homeProducts .hd {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: nowrap;
}

.homeProducts .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    margin-left: 30px;
    align-items: center;
}

.homeProducts .list li {
    flex: 1 1 200px;
    max-width: 100%;
}

.homeProducts .list li {
    position: relative;
}

.homeProducts .list li button {
    background: transparent;
    border: none;
    color: #000;
    font-size: 16px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
}

.homeProducts .list li button:hover {
    color: #3bb77e !important;
    background: #f0f0f0;
}

.homeProducts .list li button.active {
    color: #fff !important;
    background: #3bb77e;
}

@media ( max-width:375px){

   .fullfield{
  width:fit-content;}

      .home_slider_Main .slick-slide {
        min-height: 520px;
    }

}
    
  
}
