header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;   /* vertical center */
  padding: 0 45px;
  background: #f8f9fa;   /* optional, just to see header clearly */
}

hheader img {
  height: 50px;
  width: auto;
  display: block;
}

