.container-field1 {
    display:inline-block;
}
.container-field1 .container-field2{
    width:20%;
    height:50%;
}

.about-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
   
}
