.container-field1 {
    display:inline-block;
}
.container-field1 .container-field2{
    width:20%;
    height:50%;
    position: relative;
    top: 500px;
    left:500px
}

.about-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
